<!doctype html>
<html ng-app='MyAppli' lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container">
     <h1>Lunch Checker</h1>
     <div ng-controller='LunchController'>
         <div class="form-group">
             <input ng-model="lunchmenu" type="text" ng-style ="myObjText"
               ng-blur="traitementmenu()"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
        </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="calculate()">Check If Too Much</button>
         </div>
         <div class="form-group-message">
           {{myObj}}
          <p><span ng-style="myObj">{{message}}</span> </p>
         </div>   <!-- Your message can go here. -->
      </div>
   </div>

</body>
</html>
